
           body{
            font-family: sans-serif;
            padding: 0;
            margin: 0;
            background-color: #ffffff;
            direction: rtl;
            text-align: center ;
            font-size: 20px;
            }
        ul {
            background-color: #256d85;
            color: #ffffff;
            text-align: right;
        }
            header {
                    font-weight: bold;
            text-align: right;
            background:#256d85;
            color: #ffffff;
            border-bottom:  #ffffff 6px solid;
            width: 100%;
            }
            @media (max-width: 575.98px) {
                header{
                    background-position: center center;
                   }
            }
            @media(max-width: 576px) and (max-width: 767.98px) {
                header{
                    background-position: center center;
                   }
            }   
            @media(max-width: 768px) and (max-width: 991.98px) 
            {
               header{
                background-position: center center;
               }
            }   
            
            .imges {
                background-size: cover;
                width: 100%;
                height: auto;
                text-align: center;
            }
            
            .two {
                color:  #06283d;
                font-size: 20px;
            }
            .three
            {
                 font-size: 20px;
            }
             li {
                font-size: 20px;
            }
            .four {
                font-size: 30px;
                color:#06283d ;
                text-align: center;
            
            }
            .min {
                padding: 20px;
                margin-top: 20px;
                color: #ffffff;
                background-color:#256d85;
                text-align: center;
                font-weight: bold;
                font-size: 20px
            }
            footer {
                padding: 20px;
                margin-top: 0;
                color: #ffffff;
                background-color: #06283d;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            
            }
            a {
                text-decoration: none;
                font-weight: bold;
                color: #06283d;
        
            }
            a :hover {
                transition: 0.4s;
                color: #f4f4f4;
                font-size: 20px;
                vertical-align: middle;
                }